[submodule "Web/jquery.ime"]
	path = Web/jquery.ime
	url = git@github.com:wikimedia/jquery.ime.git
[submodule "Web/urapa"]
	path = Web/urapa
	url = git@github.com:mirontoli/urapa.git
[submodule "iOS/chuvash-ios-kbd"]
	path = iOS/chuvash-ios-kbd
	url = git@github.com:mirontoli/chuvash-ios-kbd.git
